body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header img {
  float: left;
}

.header h1 {
  position: relative;
}

.header{
  margin: auto;
  width: 10%;
}

@media only screen and (max-width: 400px) {
.header{
  margin: auto;
  width: 40%;
}
}